language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "pypy"
  - "pypy3"

install:
  - pip install .
  - pip install coveralls
  - pip install pytest-cov

script:
  py.test --cov overpy --cov-report=term-missing -v tests/

after_script:
  coveralls --verbose
